/* THEMER */
@import 'themes.css';

/* header */
.coology ._1SIMq._3v0y7._349XD {
  background-color: var(--header-bg, inherit) !important;
  box-shadow: var(--header-box-shadow, none) !important;
}
.coology nav._1tpub.util-justify-content-space-between-3euFK {
  background-color: transparent;
}
.coology .site-navigation a,
.coology .site-navigation button,
.coology #site-navigation-footer a,
.coology #site-navigation-footer button {
  background-color: transparent !important;
}
.coology .site-navigation a:hover,
.coology .site-navigation a:focus,
.coology .site-navigation button:hover,
.coology .site-navigation button:focus {
  background-color: var(--header-hover-bg, inherit) !important;
}
/* header menu */
.coology .QshRx.util-box-shadow-dropdown-2Bl9b {
  background-color: var(--header-dropdown-bg, #fff);
  margin-left: 10%;
  width: 80%;
}
.coology .util-box-shadow-dropdown-2Bl9b {
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.4);
}
/* header right side menu */
.coology .Header-header-drop-menu-3SaYV {
  background-color: var(--header-menu-bg, #fff);
  color: var(--header-menu-color, inherit);
}
.coology .Header-header-drop-menu-item-3d3IZ:hover:not(:active),
.coology .Header-header-drop-menu-item-3d3IZ:focus:not(:active) {
  background-color: var(--header-menu-hover-bg, inherit) !important;
}

/* page background */
.coology {
  background-color: var(--content-light-bg, #faf9f7);
}
.coology.theme-2016 {
  background-color: var(--content-bg, #faf9f7);
}
.coology.theme-2016.coology-lambo {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: var(--content-bg);
  background-size: 20px 20px;
}

/* footer */
.coology footer {
  background-color: var(--footer-bg, #222) !important;
}
.coology ._2T2dA .util-justify-content-space-between-3euFK {
  background-color: var(--footer-bg, #222);
}

/* SCHOOLOGY UX FIXES */

/* make links easy to find */
.s-rte a {
  text-decoration: underline;
}
.s-rte a:hover {
  color: #000 !important;
}

/* IFRAME LINKER */
.coology-iframe-linker {
  --link-bg: hsl(100, 55%, 45%);
}
.coology-iframe-linker a {
  background: var(--link-bg);
  border-radius: 3rem;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0.5em 0 1em;
  padding: 0.5em 1em;
  text-decoration: none !important;
}
.coology-iframe-linker a:before {
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid var(--link-bg);
  content: '';
  margin-left: 2.4em;
  margin-top: -1.2em;
  position: absolute;
}
.coology-iframe-linker a:hover,
.coology-iframe-linker a:focus {
  color: #fff;
  filter: brightness(1.1) saturate(1.4);
}

/* GRADE HELPER */
.coology #past-selector {
  display: inline-block;
  float: none !important;
  height: auto;
  margin: 0;
}
.coology #past-selector li,
.coology .download-grade-wrapper {
  display: inline-block;
  float: none;
}

.coology-grade-expander {
  background: linear-gradient(#fff, #ddd);
  border-radius: 5px;
  border: 1px solid #aaa;
  margin: 4px 10px;
  padding: 4px 10px;
}
.coology-grade-expander:before,
.coology-grade-expander:after {
  color: #090;
  content: '⬇︎';
  margin: 0 0.5em 0 0;
}
.coology-grade-expander:after {
  margin: 0 0 0 0.5em;
}
.coology-grade-expander[expanded='true']:before,
.coology-grade-expander[expanded='true']:after {
  content: '⬆︎';
}

.coology-course-grade,
.coology-active-grade:after {
  color: #090;
  cursor: pointer;
  font-size: 14px;
  margin-left: 1em;
}
.coology-course-grade em {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
/* top of page */
.download-grade-wrapper.coology-grade-alert:after {
  content: '⚠️ Grade Alerts Below';
}
.download-grade-wrapper.coology-grade-alert.coology-grade-missing:after {
  content: '⚠️ Grade Alerts Below | 🛑 Missing Work Below';
}
/* courses */
.coology-course-scores {
  color: #4479B3;
  cursor: pointer;
  font-size: 14px;
  margin-left: 1em;
}
.coology-course-scores span {
  background: linear-gradient(#f9f9f9, #eee);
  border-radius: 5px;
  box-shadow: 0 1px 0 1px #ccc;
  padding: 4px 6px;
  margin: 0 2px;
}
.coology-grade-total {
  filter: grayscale(1);
  font-weight: bold;
}
.coology-grade-total + span {
  margin-left: 0.75em;
}
.coology-active-grade:after {
  color: #4479B3;
}
.coology-active-grade:after {
  content: '⬆︎ Collapse Section';
}
.coology-hidden-grade:after {
  content: '⬇︎ View Grades';
}
/* assignments */
tr.coology-grade-100 {
  background: hsl(140, 90%, 92%);
}
.coology-grade-100 .grade-column .td-content-wrapper:after {
  content: '✅💯';
  margin-left: 0.3em;
}
tr.coology-grade-alert {
  background: hsl(55, 90%, 93%);
}
.coology-grade-alert .grade-column .td-content-wrapper:after {
  content: '⚠️';
  margin-left: 0.3em;
}
.coology-grade-alert.coology-grade-missing .grade-column .td-content-wrapper:after {
  content: '🛑';
}
