/* custom themes */
@import 'themes.css';

/* content background */
.coology {
  background-color: var(--content-light-bg, #faf9f7);
}
.coology.theme-2016 {
  background-color: var(--content-bg, #faf9f7);
}
.coology.theme-2016.coology-lambo {
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: var(--content-bg);
  background-size: 20px 20px;
}
/* header */
.coology ._1SIMq._3v0y7._349XD {
  background-color: var(--header-bg, inherit) !important;
  box-shadow: var(--header-box-shadow, none) !important;
}
.coology nav._1tpub.util-justify-content-space-between-3euFK {
  background-color: transparent;
}
.coology .dVlNp._10N3s._3Wb6n._3LeCL._2s0LQ._3v0y7._3_bfp,
.coology .Header-header-button-1EE8Y {
  background-color: transparent !important;
}
.coology .Header-header-button-1EE8Y:hover,
.coology .Header-header-button-1EE8Y:focus,
.coology .Header-header-button-active-GnvKh {
  background-color: var(--header-hover-bg, inherit) !important;
}
/* header menu */
.coology .QshRx.util-box-shadow-dropdown-2Bl9b {
  background-color: var(--header-dropdown-bg, #fff);
  margin-left: 10%;
  width: 80%;
}
.coology .util-box-shadow-dropdown-2Bl9b {
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.4);
}
/* header right side menu */
.coology .Header-header-drop-menu-3SaYV {
  background-color: var(--header-menu-bg, #fff);
  color: var(--header-menu-color, inherit);
}
.coology .Header-header-drop-menu-item-3d3IZ:hover:not(:active),
.coology .Header-header-drop-menu-item-3d3IZ:focus:not(:active) {
  background-color: var(--header-menu-hover-bg, inherit) !important;
}
/* footer */
.coology footer {
  background-color: var(--footer-bg, #222) !important;
}
.coology ._2T2dA .util-justify-content-space-between-3euFK {
  background-color: var(--footer-bg, #222);
}

/* Iframe Exploder */
.iframe-ex-wrap {
  display: inline-block;
  margin-left: 1px;
}
.iframe-ex-i {
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid #ccc;
  border-bottom: 0;
  margin-bottom: -4px;
}
.iframe-ex-link {
  background-color: #f9f9f9;
  border-radius: 0 0 1rem 1rem;
  border: 1px solid #ccc;
  border-top: 0;
  box-shadow: 0 2px 0px #ddd;
  display: block;
  font-size: 1.5rem;
  margin-top: 0;
  padding: 0.5em;
  text-align: center;
}
.iframe-ex-link:hover {
  background: linear-gradient(#f9f9f9, #eee);
  box-shadow: none;
}
