.gmeets-camera {
  background: transparent;
  color: transparent;
  display: block;
  left: 0;
  position: absolute;
  text-align: center;
  top: -1em;
  transform: rotate(90deg);
  transform-origin: left;
  width: 100vh;
  z-index: 100;

}
.gmeets-camera-on {
    background: lime;
}
