/* custom themes */
@import 'themes.css';

/* popup style */
body {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  width: 10rem;
}
h1 {
  font-size: 1.125rem;
}
ul {
  font-size: 1rem;
  list-style: none;
  padding-left: 0;
}
li {
  margin-bottom: 1em;
  position: relative;

}
/* theme samples */
samp {
  background-color: var(--content-bg);
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  right: 2em;
  top: -0.6em;
  transform: rotate(90deg);
}
samp:before,
samp:after {
  content: '';
  display: inline-block;
  height: 26vw;
  width: 0.5em;
  margin: 0 0 -0.4em 0;
}
samp:before {
  background-color: var(--header-bg);
  margin-right: 1em;
  border-radius: 2px 0 0 2px;
}
samp:after {
  background-color: var(--footer-bg);
  border-radius: 0 2px 2px 0;
}
